<div class="content">
  <div class="container text-center">
    <h2>El componente C07</h2>

    <div>{{ mensaje | lowercase }}</div>
    <div>{{ mensaje | uppercase }}</div>
    <div>{{ mensaje | titlecase }}</div>

    <br />

    <div>pi : {{ unaCifra }}</div>
    <div>{{ unaCifra | number : "1.2-2" }}</div>

    <br />

    <div>Parte del mercado: {{ unaCifraPorcentaje }}</div>
    <div>{{ unaCifraPorcentaje | percent : "2.3-4" }}</div>

    <br />

    <div>48600,00€ => {{ teslaM3 | currency : "EUR" : "symbol" }}</div>
    <div>48600,00 EUR => {{ teslaM3 | currency : "EUR" : "code" }}</div>
    <div>
      48600,00 euros, y no muy caro. =>
      {{ teslaM3 | currency : "EUR" : "euros, y no muy caro." }}
    </div>
    <div>48600 € => {{ teslaM3 | currency : "EUR" : "symbol" : "1.0-0" }}</div>

    <br />

    <div>Hoy es {{ hoy }}</div>
    <div>Hoy es {{ hoy | date }}</div>
    <div>
      Hoy es {{ hoy | date : "shortDate" }}. Y son las
      {{ hoy | date : "shortTime" }}.
    </div>

    <br />

    <h3>Un objeto</h3>
    <div *ngFor="let unElemento of unObjeto | keyvalue">
      {{ unElemento.key }} - {{ unElemento.value }}
    </div>
    <h3>Un diccionario</h3>
    <div *ngFor="let unElemento of unDiccionario | keyvalue">
      {{ unElemento.key }} - {{ unElemento.value }}
    </div>

    <br />

    <h3>Una cadena de carácteres</h3>
    <div>
      {{ unaCadenaDeCaracteres | slice : 0 : 30
      }}{{ unaCadenaDeCaracteres | slice : 61 : 69 }}
    </div>
    <div>
      {{ unaCadenaDeCaracteres | slice : 0 : 30
      }}{{ unaCadenaDeCaracteres | slice : -7 }}
    </div>
    <h3>Un array</h3>
    <div *ngFor="let unElemento of unArray | slice : 1 : 3">
      {{ unElemento }}
    </div>

    <br />

    <div>
      <hr />
      <p>Un objeto :</p>
      <div>{{ unNuevoObjeto }}</div>
      <hr />
      <p>El mismo objeto en JSON :</p>
      <div>{{ unNuevoObjeto | json }}</div>
      <hr />
    </div>
  </div>
</div>
